<ion-header>
  <ion-toolbar class="upper-toolbar">
    <ion-buttons end [routerLink]="['/search-page']" routerDirection='forward'>
      <img style="padding-left: 20px;" src="assets/imgs/search.png">
    </ion-buttons>
    <!-- <ion-title>
              V Ambassadors
            </ion-title> -->
  </ion-toolbar>
</ion-header>
<ion-header>
  <ion-toolbar class="  ">

    <ion-back-button slot="start">
      <p class="default-text"> &nbsp; &nbsp; < Nomination History </p>
          <!-- <p class="default-text" *ngIf="isAssociatePartner"> &nbsp; &nbsp; < Associate V Partners </p>
              <p class="default-text" *ngIf="isPartner"> &nbsp; &nbsp; < V Partners </p>
                  <p class="default-text" *ngIf="isCouncil"> &nbsp; &nbsp; < V Council </p> -->
    </ion-back-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-toolbar>
    <p class="default-text" style="padding: 10px;">{{month}} {{year}}</p>

  </ion-toolbar>
  <!-- <ion-segment [(ngModel)]="type" color="primary" mode='md' (ionChange)="changeView()">
    <ion-segment-button value="VP">
      VP
    </ion-segment-button>
    <ion-segment-button value="VC">
      VC
    </ion-segment-button>
    <ion-segment-button value="AVP">
      AVP
    </ion-segment-button>
  </ion-segment> -->

  <div>
    <ion-item *ngFor="let person of viewList" class="transparent-item" (click)="viewProfile(person)" text-wrap>
      <ion-thumbnail slot="start">
        <img [src]="person.Image" (error)="Defaults_.PERSON_REVERT_TO_DEFAULT($event)">
      </ion-thumbnail>
      <p class="default-text">{{ person.Name }}</p>
    </ion-item>
  </div>
</ion-content>

<app-footer-tab></app-footer-tab>