<ion-header>
  <ion-toolbar>
    <ion-title>Tools</ion-title>
  </ion-toolbar>
</ion-header>
<ion-header>
  <ion-back-button>
    &nbsp; &nbsp; < Select Tool </ion-back-button>
</ion-header>
<ion-content>
  <div *ngIf="toolType == career">
    <p>Career</p>
  </div>

  <div *ngIf="toolType == roles">
    <p>Career</p>
  </div>

  <div *ngIf="toolType == career">
    <p>Career</p>
  </div>

  <div *ngIf="toolType == career">
    <p>Career</p>
  </div>

  <div *ngIf="toolType == career">
    <p>Career</p>
  </div>

  <div *ngIf="toolType == career">
    <p>Career</p>
  </div>

  </div>
</ion-content>