.bottomCol{
    font-size: 30px !important;
}

ion-col{
    text-align: center !important;
}

.data-description {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #C0C0C0;
    text-align: left;
    font-size: 15px;
    padding: 10px;
}
