ion-col {
    font-size: 150%;
}

.main-title {
    font-size: 15px;
}

.row-emphasis {
    background-color: #F5F5F5;
    font-family: Arial, Helvetica, sans-serif;
    align-content: center;
}

.button-fill-space {
    width: 100%;
    color:white;
}
