<ion-header>
  <ion-toolbar class="upper-toolbar">
    <ion-buttons end [routerLink]="['/search-page']"
    routerDirection='forward'>
      <img style="padding-left: 20px;" src="assets/imgs/search.png">
    </ion-buttons>
    <!-- <ion-title>
        V Ambassadors
      </ion-title> -->
  </ion-toolbar>
</ion-header>
<ion-header>
  <ion-toolbar class="lower-toolbar"  [routerLink]="['/home']" routerDirection="back">
    &nbsp; &nbsp; < Nominations </ion-toolbar> </ion-header>

<ion-content>
  <!-- <ion-button *ngFor="let cat of category" expand="block" class="default-element-color" style="color: white"
    (click)="selectedCategory(cat)">
    {{ cat.name }}
  </ion-button> -->

  <ion-grid class="grid-selection">
    <ion-row (click)="selectedCategory('AVP')">
      
        <div><img src="assets/imgs/avp-icon.png"></div>
        <div><strong>Associate <br>V Partners</strong></div>
     
    </ion-row>
    <ion-row (click)="selectedCategory('VC')" >
      
        <div><img src="assets/imgs/vc-icon.png"></div>
        <div><strong>V Council</strong></div>
     
    </ion-row>
  </ion-grid>

</ion-content>
<app-footer-tab></app-footer-tab>