<ion-header>
  <ion-toolbar class="upper-toolbar">
    <ion-buttons end [routerLink]="['/search-page']" routerDirection='forward'>
      <img style="padding-left: 20px;" src="assets/imgs/search.png">
    </ion-buttons>
    <!-- <ion-title>
              V Ambassadors
            </ion-title> -->
  </ion-toolbar>
</ion-header>
<ion-header>
  <ion-toolbar class="  ">

    <ion-back-button slot="start" *ngIf="isFounder">
      <p class="default-text"> &nbsp; &nbsp; < V Founders </p>
          <!-- <p class="default-text" *ngIf="isAssociatePartner"> &nbsp; &nbsp; < Associate V Partners </p>
              <p class="default-text" *ngIf="isPartner"> &nbsp; &nbsp; < V Partners </p>
                  <p class="default-text" *ngIf="isCouncil"> &nbsp; &nbsp; < V Council </p> -->
    </ion-back-button>

    <ion-back-button slot="start" *ngIf="isPartner">
      <p class="default-text"> &nbsp; &nbsp; < V Partners </p>
    </ion-back-button>

    <ion-back-button slot="start" *ngIf="isAssociatePartner">
      <p class="default-text"> &nbsp; &nbsp; < Associate V Partners </p>
    </ion-back-button>

    <ion-back-button slot="start" *ngIf="isCouncil">
      <p class="default-text"> &nbsp; &nbsp; < V Council </p>
    </ion-back-button>

    <!-- <div *ngIf="isFounder">
      <p class="default-text"> &nbsp; &nbsp; < V Founders </p>
    </div>
    <div *ngIf="isPartner">
      <p class="default-text"> &nbsp; &nbsp; < V Partners </p>
    </div>
    <div *ngIf="isAssociatePartner">
      <p style="font-weight: 600" class="default-text"> &nbsp; &nbsp;< Associate V Partners </p>
    </div>
    <div *ngIf="isCouncil">
      <p class="default-text"> V Council</p>
    </div> -->


  </ion-toolbar>
</ion-header>
<ion-content class="gradient-background">
  <ion-card style="background: #E3E5E6;margin-left: 0px;margin-right: 0px;margin-top: 0px;margin-bottom: 0px;">
    <img *ngIf="!isFounder" [src]="ambassador.imgUrl" (error)="Defaults_.PERSON_REVERT_TO_DEFAULT($event)"
      style="margin:auto; width: 100%;" />
    <!-- </ion-img> -->
    <ion-card-header *ngIf="isPartner">
      <ion-card-title class="default-text" style="text-align: center;">
        {{ambassador.name != "" ? ambassador.name : 'Unavailable'}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content *ngIf="isPartner">
      <p class="default-text" style=" margin-top: 0px;margin-bottom: 0px; font-weight: 700;"> Title:
        {{ambassador.position != "" ? ambassador.position : 'Unavailable'}}</p>
      <p class="default-text" style=" margin-top: 0px;margin-bottom: 0px; font-weight: 700;"> IRID:
        {{ambassador.irid != "" ? ambassador.irid : 'Unavailable'}}</p>
      <p class="default-text" style=" margin-top: 0px;margin-bottom: 0px; font-weight: 700;"> Email:
        {{ambassador.email != "" ? ambassador.email : 'Unavailable'}}</p>
      <p class="default-text" style=" margin-top: 0px;margin-bottom: 0px; font-weight: 700;"> Contact
        Number: {{ambassador.contactnum != "" ? ambassador.contactnum : 'Unavailable'}}</p>
    </ion-card-content>
  </ion-card>
  <!-- <img [src]="assets/imgs/profile-photos-dato"> -->




  <div *ngIf="isFounder">
    <ion-card style="background: #E3E5E6;margin-left: 0px;margin-right: 0px;margin-top: 0px;margin-bottom: 0px;">
      <img [src]="ambassador.Image" (error)="Defaults_.PERSON_REVERT_TO_DEFAULT($event)"
        style="margin:auto; width: 100%;">
      <!-- <ion-card-header>
        <ion-card-title style="text-align: left;">{{ambassador.name != "" ? ambassador.name : 'Unavailable'}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p class="default-text" style="text-align: left; margin-top: 0px;margin-bottom: 0px; font-weight: 700;">
          Title:
          {{ambassador.position != "" ? ambassador.position : 'Unavailable'}}</p>
      </ion-card-content> -->
    </ion-card>
    <div [innerHtml]="ambassador.NewDescription" style="padding: 40px; text-align: left; color: #042F66;"></div>
  </div>

  <div *ngIf="isPartner">
    <div [innerHtml]="ambassador.NewDescription" style="padding: 40px; text-align: left; color: #042F66"></div>
  </div>

  <div *ngIf="isAssociatePartner || isCouncil">
    <div>
      <p style="text-align: center; font-weight: 700; font-size: 20px" class="default-text">
        {{ambassador.name != "" ? ambassador.name : 'Unavailable'}}</p>
    </div>
    <div>
      <p class="default-text" style=" margin-top: 0px;margin-bottom: 0px; font-weight: 700;"> Title:
        {{ambassador.position != "" ? ambassador.position : 'Unavailable'}}
      </p>
    </div>
    <div>
      <p class="default-text" style=" margin-top: 0px;margin-bottom: 0px; font-weight: 700;"> Team:
        {{ambassador.team != "" ? ambassador.team : 'Unavailable'}}
      </p>
    </div>
    <!-- <div>
      <p class="default-text" style=" margin-top: 0px;margin-bottom: 0px; font-weight: 700;"> Based
        Country:</p>
    </div>
    <div>
      <p class="default-text" style=" margin-top: 0px;margin-bottom: 0px; font-weight: 700;"> Year of
        Joined:</p>
    </div> -->
    <div>
      <p class="default-text" style=" margin-top: 0px;margin-bottom: 0px; font-weight: 700;"> Email:
        {{ambassador.email != "" ? ambassador.email : 'Unavailable'}}
      </p>
    </div>
    <div>
      <p class="default-text" style=" margin-top: 0px;margin-bottom: 0px; font-weight: 700;"> Contact
        Number: {{ambassador.contactnum != "" ? ambassador.contactnum : 'Unavailable'}}</p>
    </div>

  </div>

  <!-- <div *ngIf="isCouncil">
  <p class="brighter-text"> Is Council</p> -->
  <!-- put ui for council here if needed -->
  <!-- </div> -->

</ion-content>
<app-footer-tab></app-footer-tab>