 
ion-toolbar .toolbar-background {
    // background-color: #263a52;
  }
  
  .login {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 100%;
  }
  
  .white-background {
    background-color: #fff;
    color: #808080;
  }
  
  ion-toolbar {
    // --color: #ffffff;
    // --background: #0d2c6c;
  }
  
  