<ion-header>
  <ion-toolbar class="upper-toolbar">
    <ion-buttons end [routerLink]="['/search-page']" routerDirection='forward'>
      <img style="padding-left: 20px;" src="assets/imgs/search.png">
    </ion-buttons>
    <!-- <ion-title>
        V Ambassadors
      </ion-title> -->
  </ion-toolbar>
</ion-header>
<ion-header>
  <ion-toolbar class="lower-toolbar" [routerLink]="['/home']" routerDirection="back">
    &nbsp; &nbsp; < Notifications </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngFor="let data of notifs">
    <ion-avatar slot="start">
      <img [src]="data.ImageLink">
    </ion-avatar>
    <ion-label>
      <h3>{{ data.localTitle }}</h3>
      <p>{{ data.Summary }}</p>
      <p>{{ data.CreatedOn }}</p>
    </ion-label>
  </ion-item>

  <ion-card *ngFor="let data of notifs" (click)="viewNotif(data)">
    <img [src]="data.ImageLink">
    <ion-card-header text-wrap>
      <b>{{ data.localTitle }}</b>
    </ion-card-header>
    <ion-card-content text-wrap>
      {{ data.Summary }}
      <br />
      <br />
      <ion-grid>
        <ion-row>
          <ion-col size="7">
            <ion-icon name="eye"></ion-icon> Hits: {{ data.Hits }}
          </ion-col>
          <ion-col size="5">
            {{ this.timeDiff(data.CreatedOn) }}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
<app-footer-tab></app-footer-tab>