<ion-header>
  <ion-toolbar class="upper-toolbar">
    <ion-buttons end [routerLink]="['/search-page']" routerDirection='forward'>
      <img style="padding-left: 20px;" src="assets/imgs/search.png">
    </ion-buttons>
    <!-- <ion-title>
        V Ambassadors
      </ion-title> -->
  </ion-toolbar>
</ion-header>
<ion-header>
  <ion-toolbar class="lower-toolbar" [routerLink]="['/home']" routerDirection="back">
    &nbsp; &nbsp; < Travel Requests </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <p class="default-text bigger-text">{{ req.Name }}</p>
      <ion-button class="default-element-color set-to-right">
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-button> -->
  <ion-card *ngFor="let req of requests" style="margin-left: 0px;margin-right: 0px;margin-top: 0px;margin-bottom: 0px;">
    <!-- </ion-img> -->
    <ion-card-header>
      <!-- <ion-card-title>Destination: {{req.Destination}}</ion-card-title> -->
      <ion-row>
        <ion-col>
          <p class="default-text" style=" margin-top: 0px;margin-bottom: 0px; font-weight: 700;">
            Destination: {{req.Destination}}
          </p>
        </ion-col>
        <ion-col>
          {{req.CreatedOn}}
        </ion-col>
      </ion-row>
    </ion-card-header>
    <ion-card-content>
      <!-- <p class="default-text" style=" margin-top: 0px;margin-bottom: 0px; font-weight: 700;"> Request Sent Date:
        {{req.CreatedOn}}</p> -->
      <p class="default-text" style=" margin-top: 0px;margin-bottom: 0px; font-weight: 700;"> Purpose:
        {{req.Purpose}}</p>
      <p class="default-text" style=" margin-top: 0px;margin-bottom: 0px; font-weight: 700;"> Start:
        {{req.StartDate}}</p>
      <p class="default-text" style=" margin-top: 0px;margin-bottom: 0px; font-weight: 700;"> End:
        {{req.EndDate}}</p>
      <p class="default-text" style=" margin-top: 0px;margin-bottom: 0px; font-weight: 700;"
        *ngIf="req.Remarks != 'undefined'">
        Remarks:
        {{req.Remarks}}</p>
      <p *ngIf="type == 'Poweruser'" class="default-text"
        style=" margin-top: 0px;margin-bottom: 0px; font-weight: 700;">
        Requested By:
        {{req.Name}}</p>


    </ion-card-content>
    <div style="padding: 16px; background: #0d2c6c">
      <ion-item style="padding: 16px; background: #0d2c6c">
        <ion-label style="color: white;">Status: </ion-label>
        <ion-select placeholder="Select One">
          <ion-select-option value="f">Female</ion-select-option>
          <ion-select-option value="m">Male</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-button horizontal="end">Save Changes</ion-button>
    </div>
  </ion-card>


  <div *ngIf="requests.length == 0" style="position: absolute; top: 40%; left: 30%;">
    <p>Empty Travel History</p>
  </div>
</ion-content>
<app-footer-tab></app-footer-tab>