<ion-header>
  <ion-toolbar class="upper-toolbar">
    <ion-buttons end>
      <img style="padding-left: 20px;" src="assets/imgs/search.png">
    </ion-buttons>

  </ion-toolbar>
</ion-header>
<ion-header>
    <ion-toolbar class="  " style="color:#042F66;font-weight: 600">
      &nbsp; &nbsp; < Videos </ion-toolbar> </ion-header> 
<ion-content>
  <ion-card *ngFor="let vid of videos" (click)="selectVideo(vid)" text-wrap>
    <img [src]="vid.image">
    <ion-card-header text-wrap style="color:#042F66;font-weight: 600">
      {{ vid.title }}
    </ion-card-header>
  </ion-card>
</ion-content>